In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('salaries_by_college_major.csv')
pd.options.display.float_format = '{:,.2f}'.format

In [5]:

#identify bad cells
print(df.isna())

#clean the df
clean_df = df.dropna()
print(clean_df.tail())
print(clean_df)

    Undergraduate Major  Starting Median Salary  Mid-Career Median Salary
0                 False                   False                     False  \
1                 False                   False                     False
2                 False                   False                     False
3                 False                   False                     False
4                 False                   False                     False
5                 False                   False                     False
6                 False                   False                     False
7                 False                   False                     False
8                 False                   False                     False
9                 False                   False                     False
10                False                   False                     False
11                False                   False                     False
12                False                   False                     False
13                False                   False                     False
14                False                   False                     False
15                False                   False                     False
16                False                   False                     False
17                False                   False                     False
18                False                   False                     False
19                False                   False                     False
20                False                   False                     False
21                False                   False                     False
22                False                   False                     False
23                False                   False                     False
24                False                   False                     False
25                False                   False                     False
26                False                   False                     False
27                False                   False                     False
28                False                   False                     False
29                False                   False                     False
30                False                   False                     False
31                False                   False                     False
32                False                   False                     False
33                False                   False                     False
34                False                   False                     False
35                False                   False                     False
36                False                   False                     False
37                False                   False                     False
38                False                   False                     False
39                False                   False                     False
40                False                   False                     False
41                False                   False                     False
42                False                   False                     False
43                False                   False                     False
44                False                   False                     False
45                False                   False                     False
46                False                   False                     False
47                False                   False                     False
48                False                   False                     False
49                False                   False                     False
50                False                    True                      True

    Mid-Career 10th Percentile Salary  Mid-Career 90th Percentile Salary
0                               False                              False  \
1                               False                              False
2                               False                              False
3                               False                              False
4                               False                              False
5                               False                              False
6                               False                              False
7                               False                              False
8                               False                              False
9                               False                              False
10                              False                              False
11                              False                              False
12                              False                              False
13                              False                              False
14                              False                              False
15                              False                              False
16                              False                              False
17                              False                              False
18                              False                              False
19                              False                              False
20                              False                              False
21                              False                              False
22                              False                              False
23                              False                              False
24                              False                              False
25                              False                              False
26                              False                              False
27                              False                              False
28                              False                              False
29                              False                              False
30                              False                              False
31                              False                              False
32                              False                              False
33                              False                              False
34                              False                              False
35                              False                              False
36                              False                              False
37                              False                              False
38                              False                              False
39                              False                              False
40                              False                              False
41                              False                              False
42                              False                              False
43                              False                              False
44                              False                              False
45                              False                              False
46                              False                              False
47                              False                              False
48                              False                              False
49                              False                              False
50                               True                               True

    Group
0   False
1   False
2   False
3   False
4   False
5   False
6   False
7   False
8   False
9   False
10  False
11  False
12  False
13  False
14  False
15  False
16  False
17  False
18  False
19  False
20  False
21  False
22  False
23  False
24  False
25  False
26  False
27  False
28  False
29  False
30  False
31  False
32  False
33  False
34  False
35  False
36  False
37  False
38  False
39  False
40  False
41  False
42  False
43  False
44  False
45  False
46  False
47  False
48  False
49  False
50   True
   Undergraduate Major  Starting Median Salary  Mid-Career Median Salary
45   Political Science               40,800.00                 78,200.00  \
46          Psychology               35,900.00                 60,400.00
47            Religion               34,100.00                 52,000.00
48           Sociology               36,500.00                 58,200.00
49             Spanish               34,000.00                 53,100.00

    Mid-Career 10th Percentile Salary  Mid-Career 90th Percentile Salary Group
45                          41,200.00                         168,000.00  HASS
46                          31,600.00                         127,000.00  HASS
47                          29,700.00                          96,400.00  HASS
48                          30,700.00                         118,000.00  HASS
49                          31,000.00                          96,400.00  HASS
                     Undergraduate Major  Starting Median Salary
0                             Accounting               46,000.00  \
1                  Aerospace Engineering               57,700.00
2                            Agriculture               42,600.00
3                           Anthropology               36,800.00
4                           Architecture               41,600.00
5                            Art History               35,800.00
6                                Biology               38,800.00
7                    Business Management               43,000.00
8                   Chemical Engineering               63,200.00
9                              Chemistry               42,600.00
10                     Civil Engineering               53,900.00
11                        Communications               38,100.00
12                  Computer Engineering               61,400.00
13                      Computer Science               55,900.00
14                          Construction               53,700.00
15                      Criminal Justice               35,000.00
16                                 Drama               35,900.00
17                             Economics               50,100.00
18                             Education               34,900.00
19                Electrical Engineering               60,900.00
20                               English               38,000.00
21                                  Film               37,900.00
22                               Finance               47,900.00
23                              Forestry               39,100.00
24                             Geography               41,200.00
25                               Geology               43,500.00
26                        Graphic Design               35,700.00
27            Health Care Administration               38,800.00
28                               History               39,200.00
29                 Hospitality & Tourism               37,800.00
30                Industrial Engineering               57,700.00
31           Information Technology (IT)               49,100.00
32                       Interior Design               36,100.00
33               International Relations               40,900.00
34                            Journalism               35,600.00
35  Management Information Systems (MIS)               49,200.00
36                             Marketing               40,800.00
37                                  Math               45,400.00
38                Mechanical Engineering               57,900.00
39                                 Music               35,900.00
40                               Nursing               54,200.00
41                             Nutrition               39,900.00
42                            Philosophy               39,900.00
43                   Physician Assistant               74,300.00
44                               Physics               50,300.00
45                     Political Science               40,800.00
46                            Psychology               35,900.00
47                              Religion               34,100.00
48                             Sociology               36,500.00
49                               Spanish               34,000.00

    Mid-Career Median Salary  Mid-Career 10th Percentile Salary
0                  77,100.00                          42,200.00  \
1                 101,000.00                          64,300.00
2                  71,900.00                          36,300.00
3                  61,500.00                          33,800.00
4                  76,800.00                          50,600.00
5                  64,900.00                          28,800.00
6                  64,800.00                          36,900.00
7                  72,100.00                          38,800.00
8                 107,000.00                          71,900.00
9                  79,900.00                          45,300.00
10                 90,500.00                          63,400.00
11                 70,000.00                          37,500.00
12                105,000.00                          66,100.00
13                 95,500.00                          56,000.00
14                 88,900.00                          56,300.00
15                 56,300.00                          32,200.00
16                 56,900.00                          36,700.00
17                 98,600.00                          50,600.00
18                 52,000.00                          29,300.00
19                103,000.00                          69,300.00
20                 64,700.00                          33,400.00
21                 68,500.00                          33,900.00
22                 88,300.00                          47,200.00
23                 62,600.00                          41,000.00
24                 65,500.00                          40,000.00
25                 79,500.00                          45,000.00
26                 59,800.00                          36,000.00
27                 60,600.00                          34,600.00
28                 71,000.00                          37,000.00
29                 57,500.00                          35,500.00
30                 94,700.00                          57,100.00
31                 74,800.00                          44,500.00
32                 53,200.00                          35,700.00
33                 80,900.00                          38,200.00
34                 66,700.00                          38,400.00
35                 82,300.00                          45,300.00
36                 79,600.00                          42,100.00
37                 92,400.00                          45,200.00
38                 93,600.00                          63,700.00
39                 55,000.00                          26,700.00
40                 67,000.00                          47,600.00
41                 55,300.00                          33,900.00
42                 81,200.00                          35,500.00
43                 91,700.00                          66,400.00
44                 97,300.00                          56,000.00
45                 78,200.00                          41,200.00
46                 60,400.00                          31,600.00
47                 52,000.00                          29,700.00
48                 58,200.00                          30,700.00
49                 53,100.00                          31,000.00

    Mid-Career 90th Percentile Salary     Group
0                          152,000.00  Business
1                          161,000.00      STEM
2                          150,000.00  Business
3                          138,000.00      HASS
4                          136,000.00  Business
5                          125,000.00      HASS
6                          135,000.00      STEM
7                          147,000.00  Business
8                          194,000.00      STEM
9                          148,000.00      STEM
10                         148,000.00      STEM
11                         143,000.00      HASS
12                         162,000.00      STEM
13                         154,000.00      STEM
14                         171,000.00  Business
15                         107,000.00      HASS
16                         153,000.00      HASS
17                         210,000.00  Business
18                         102,000.00      HASS
19                         168,000.00      STEM
20                         133,000.00      HASS
21                         136,000.00      HASS
22                         195,000.00  Business
23                         111,000.00  Business
24                         132,000.00      HASS
25                         156,000.00      STEM
26                         112,000.00      HASS
27                         101,000.00  Business
28                         149,000.00      HASS
29                         124,000.00  Business
30                         173,000.00      STEM
31                         129,000.00      STEM
32                         107,000.00      HASS
33                         157,000.00      HASS
34                         145,000.00      HASS
35                         146,000.00      STEM
36                         175,000.00  Business
37                         183,000.00      STEM
38                         163,000.00      STEM
39                         134,000.00      HASS
40                          98,300.00  Business
41                          99,200.00      HASS
42                         168,000.00      HASS
43                         124,000.00      STEM
44                         178,000.00      STEM
45                         168,000.00      HASS
46                         127,000.00      HASS
47                          96,400.00      HASS
48                         118,000.00      HASS
49                          96,400.00      HASS

In [ ]:

#check df columns
print(clean_df['Starting Median Salary'])

In [6]:
#can dive deeper into this with aditional arguments
print(clean_df['Starting Median Salary'].idxmax(), clean_df['Starting Median Salary'].max())

43 74300.0

In [ ]:

#unless specifying the column we can just get the entire entry with
print(clean_df.loc[43])

In [7]:
### --- CHALLENGE 1 --- ###

# get highest mid career salary, find how much a graduate of this major earns
x = clean_df['Mid-Career Median Salary'].idxmax()
print(  f"Row {x} \n \
        Name: {clean_df.loc[x]['Undergraduate Major']}, \n \
        The Mid-Career Salary is: {clean_df.loc[x]['Mid-Career Median Salary']}, \n \
        The graduate starting salary is: {clean_df.loc[x]['Starting Median Salary']}"
        )

#find lowest mid career salary find out the potential people can expect to earn in this field
y = clean_df['Mid-Career Median Salary'].idxmin()
print(  f"Row {y} \n \
        Name: {clean_df.loc[y]['Undergraduate Major']}, \n \
        The Mid-Career Salary is: {clean_df.loc[y]['Mid-Career Median Salary']}, \n \
        The Mid Career High End salary is: {clean_df.loc[y]['Mid-Career 90th Percentile Salary']}"
        )

#find the lowest starting salary and find the expected maximum
z = clean_df['Starting Median Salary'].idxmin()
print(  f"Row {z} \n \
        Name: {clean_df.loc[z]['Undergraduate Major']}, \n \
        The Starting Salary is: {clean_df.loc[z]['Mid-Career Median Salary']}, \n \
        The Mid Career High End salary is: {clean_df.loc[z]['Mid-Career 90th Percentile Salary']}"
        )

Row 8
         Name: Chemical Engineering,
         The Mid-Career Salary is: 107000.0,
         The graduate starting salary is: 63200.0
Row 18
         Name: Education,
         The Mid-Career Salary is: 52000.0,
         The Mid Career High End salary is: 102000.0
Row 49
         Name: Spanish,
         The Starting Salary is: 53100.0,
         The Mid Career High End salary is: 96400.0

In [8]:
# we can also go and find the differences between columns and then add that as a new column to the df
# eg let's find the potential difference between mid and max salaries
spread = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
#we can then add this subtraction as a new column
clean_df.insert(1, 'Spread', spread)
print(clean_df.head())
#we can then ofc sort by lowest spread
low_risk = clean_df.sort_values('Spread')
print(low_risk[['Undergraduate Major', 'Spread']].head())

     Undergraduate Major     Spread  Starting Median Salary
0             Accounting 109,800.00               46,000.00  \
1  Aerospace Engineering  96,700.00               57,700.00
2            Agriculture 113,700.00               42,600.00
3           Anthropology 104,200.00               36,800.00
4           Architecture  85,400.00               41,600.00

   Mid-Career Median Salary  Mid-Career 10th Percentile Salary
0                 77,100.00                          42,200.00  \
1                101,000.00                          64,300.00
2                 71,900.00                          36,300.00
3                 61,500.00                          33,800.00
4                 76,800.00                          50,600.00

   Mid-Career 90th Percentile Salary     Group
0                         152,000.00  Business
1                         161,000.00      STEM
2                         150,000.00  Business
3                         138,000.00      HASS
4                         136,000.00  Business
           Undergraduate Major    Spread
40                     Nursing 50,700.00
43         Physician Assistant 57,600.00
41                   Nutrition 65,300.00
49                     Spanish 65,400.00
27  Health Care Administration 66,400.00

In [ ]:
### --- CHALLENGE 2 --- ###

#find top 5 degrees with highest 90% value
high_value = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
print(high_value[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head())

#find degrees with greatest spread in salary between high and low earners
high_risk = clean_df.sort_values('Spread', ascending=False)
print(high_risk[['Undergraduate Major', 'Spread']].head())

In [9]:
# grouping data by category
# we want to count the groups 
print(clean_df.groupby('Group').count())
# mini challenge find the mean salary by group (we stipulate to do this to numeric only so no errors are thrown)
print(clean_df.groupby('Group').mean(numeric_only = True))

          Undergraduate Major  Spread  Starting Median Salary
Group
Business                   12      12                      12  \
HASS                       22      22                      22
STEM                       16      16                      16

          Mid-Career Median Salary  Mid-Career 10th Percentile Salary
Group
Business                        12                                 12  \
HASS                            22                                 22
STEM                            16                                 16

          Mid-Career 90th Percentile Salary
Group
Business                                 12
HASS                                     22
STEM                                     16
             Spread  Starting Median Salary  Mid-Career Median Salary
Group
Business 103,958.33               44,633.33                 75,083.33  \
HASS      95,218.18               37,186.36                 62,968.18
STEM     101,600.00               53,862.50                 90,812.50

          Mid-Career 10th Percentile Salary  Mid-Career 90th Percentile Salary
Group
Business                          43,566.67                         147,525.00
HASS                              34,145.45                         129,363.64
STEM                              56,025.00                         157,625.00